form {
    margin-top: 4rem;
    margin-right: 10%;
}

.abilities-main {
    display: flex;
}

.ability-names {
    width: 50%;
    display: flex;
}

.column-tags {
    display: flex;
    width: 50%;
    margin-bottom: 10px;
}

.ability-score-line {
    display: flex;
}

.ability-div {
    width: 20%;
}

.ability-input {
    width: 50%;
    text-align: center;
}

.mod-field-parent {
    width: 20%;
}

.mod-field {
    background-color: white;
    color: black;
    width: 55%;
    margin: auto;
}

.STRtempMod-input {
    width: 4rem;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
  }